/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/sites/*/files/
/web/sites/*/private/
/web/sites/*/settings.php
/web/sites/*/settings.local.php
/web/sites/*/services.yml

# Cache / build artifacts
/web/sites/*/files/css/
/web/sites/*/files/js/
/web/sites/*/files/php/
/web/sites/*/files/styles/

# OS/IDE
.DS_Store
.idea/
.vscode/
